---
import Hero from "../components/Header.astro";
import Links from "../components/Links.astro";
let title = 'Links Page';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<style is:global lang="scss">
			@import "../styles/global.scss";		
		</style> 
	</head>
	<body>
	<Hero />
	<Links />	
	</body>
</html>

<style lang="scss">
	h1 {
		color: hsl(233, 44%, 13%);
	}
</style>
