---
import Header from "../components/Header.astro";
import Links from "../components/Links.astro";
import Footer from "../components/Footer.astro";
let title = 'Links Page';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<style is:global lang="scss">
			@import "../styles/global.scss";		
		</style> 
	</head>
	<body>
		<div class="container">
		<Header client:visible/>
		<Links />
		<Footer />	
		</div>	
	</body>
</html>

<style lang="scss">
	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: max(100vh, 600px);		
		margin-inline: auto; 
	}
</style>
