---
import {Icon} from "astro-icon";
const year = new Date().getFullYear();
---

<footer>
    <div class="social-icons">
        <a href="https://github.com/devtezza">
            <Icon name="bi:github" width="24"/>
        </a>
        <a href="https://www.linkedin.com/in/devtezza/">
            <Icon name="bi:linkedin" width="24"/>
        </a>
        <a href="https://www.instagram.com/">
            <Icon name="bi:instagram" width="24"/>
        </a>
        <a href="https://twitter.com/">
            <Icon name="bi:twitter" width="24"/>
        </a>
        <a href="https://www.tiktok.com/">
            <Icon name="bi:tiktok" width="24"/>
        </a>
    </div>
    <div class="copyright">
        <p>Copyright © <span>{year}</span> Your Name</p>        
    </div>
</footer>

<style lang="scss">
    @use '../styles/functions' as *;
    @use '../styles/mixins' as *;
    @use '../styles/global' as *;
    footer {
        // border: 1px solid purple;
        padding-inline: $base-padding;
        padding-top: calc($base-padding / 2);
        
        @include media-md {
            padding-bottom: 1rem;
        }

        @include media-xl {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            gap: $lg-padding;
            padding-inline: $lg-padding;
            // padding-top: 0;
        }
    }

    .social-icons {
        // border: 1px solid green;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        @include media-sm {
          
            width: min(100%, convert-pixels-to-rem(400px));
            margin-inline: auto;
          
        }
        
        @include media-md {
            width: max(convert-pixels-to-rem(300px));
        }

        @include media-xl {
            margin-inline: 0;
            margin-bottom: 0;
        }
    }

    [astro-icon] {
        color: $dark;

        @include media-dark {
            color: $light-icon;
        }
    }

    .copyright {
        // border: 1px solid orange;
        text-align: center;
        font-size: 85%;

        @include media-xl {
            font-size: 95%;
            order: -1;
        }
    }
</style>