---
import {Icon} from 'astro-icon';
---

<header>
    <div class="top">
        <!-- <img src="images/cover.jpg" alt=""> -->
        <div class="avatar"></div>
    </div>
    <div class="bottom">
       <div class="theme-switcher">
           <button class="light"><Icon name="bi:brightness-high" width="24"/></button>
           <button class="dark"><Icon name="bi:moon" width="20"/></button>
       </div>
    </div>    
    <h1>Your Name</h1>
    
</header>

<style lang="scss">
    @use '../styles/functions' as *;
    @use '../styles/global' as *;
    $top-height: 15vh;
    $bottom-height: 10vh;
    $avatar-dimensions: convert-pixels-to-rem(112px);
    $avatar-vertical-offset: 23%;
    $theme-switcher-width: convert-pixels-to-rem(76px);     
    
    .top {
        // border: 1px solid green;
        position: relative;
        width: 100%;
        height: $top-height;;        
        background-image: url(images/cover.jpg);
        background-size: cover;      
        background-position: center left;
        background-repeat: no-repeat;
        // img {
        //     object-fit: cover;
        //     // aspect-ratio: 3 / 1;
        //     max-height: 100%;
        //     width: 100%;
        //     object-position: 50% 100%;
        // }
    }

    .avatar {        
        position: absolute;
        width: $avatar-dimensions;
        height: $avatar-dimensions;        
        left: 50%;
        bottom: 0;
        transform: translate(-50%, $avatar-vertical-offset);
        border-radius: 50%;
        background-image: url(images/avatar.png);
        background-size: cover;
    }

    .avatar::after {
        content: '@yourbio';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 1.5rem);       
        // transform: translate(-50%, 1rem);
    }

    .bottom {
        // height: $bottom-height;
        padding: $base-padding;
        padding-bottom: $base-padding / 3;
        display: flex;
        justify-content: flex-end;       
        // border: 1px solid red;
    }

    .username {
        display: block;
        margin-top: $avatar-vertical-offset;
    }

    .theme-switcher {
        display: flex;
        // border: 1px solid red;
        width: $theme-switcher-width;
        justify-content: space-between;
    }

    h1 {
        // border: 1px solid green;        
        font-size: convert-pixels-to-rem(40px);
        font-weight: 600;
        text-align: center;
    }

    [astro-icon] {
        color: $dark-alt;

        @media(prefers-color-scheme: dark) {
            color: $light-icon;
        }
    }
    
</style>
