---

---
<div class="links">
    <h2 class="hide-element">Links List</h2>
    <a class="featured" href="/">Featured link</a>
    <a href="/">Yesterday link</a>
    <a href="/">Sign up to our newsletter</a>
    <a href="/">Redeem your cupom</a>
    <a href="/">Recommended books</a>    
    <a href="/">Check out our course</a>
</div>

<style lang="scss">
     @use '../styles/functions' as *;
     @use '../styles/mixins' as *;
     @use '../styles/global' as *;

    .links {
        // height: 400px;
        // border: 1px solid red;
        width: 100%;
        padding: $base-padding;
        display: grid;
        grid-template-rows: auto;
        gap: calc($base-padding * 0.6);
        
        a {
            display: flex;                   
            color: $light;
            background-color: $btn;
            font-size: convert-pixels-to-rem(19px);
            font-weight: 700;
            justify-content: center;
            align-items: center;
            border-radius: convert-pixels-to-rem(10px);
            min-height: convert-pixels-to-rem(42px);

            &.featured {
                background-color: $accent;
            }            
        }

        @include media-dark {                

            a {
                background-color: $btn-alt;                
                color: $light-alt;
                
                &.featured {
                    background-color: $accent-alt;
                }
            }
                
        }

        @include media-height {
            gap: $base-padding;

            a {
                min-height: convert-pixels-to-rem(54px);
            }
        }

        @include media-sm {
            a {
                width: min(100%, 400px);
                margin-inline: auto;
            }
        }

        @include media-md {
            grid-template-columns: repeat(2, 1fr);
            padding-inline: $md-padding;
            padding-block: 1rem;

            a {
                width: 100%;
            }
        }

        @include media-lg {            
            padding-inline: $lg-padding;
            max-width: calc(800px + $base-padding + (2 * $lg-padding));
            margin-inline: auto;
            a {
                width: min(100%, 400px);                
            }
        }

        @include media-xl {
            grid-template-columns: repeat(3, 1fr);
            min-width: 100%;
            margin: 0;
            gap: convert-pixels-to-rem(60px);

            a {
                min-height: convert-pixels-to-rem(74px);
            }
        }
    }

    .hide-element {
        border: 0;
        clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px; 
    }  
</style>