---

---
<div class="links">
    <h2 class="hide-element">Links List</h2>
    <a class="featured" href="/">Featured link</a>
    <a href="/">Yesterday link</a>
    <a href="/">Sign up to our newsletter</a>
    <a href="/">Redeem your cupom</a>
    <a href="/">Recommended books</a>    
    <a href="/">Check out our course</a>
</div>

<style lang="scss">
     @use '../styles/functions' as *;
     @use '../styles/global' as *;

    .links {
        // height: 400px;
        // border: 1px solid red;
        width: 100%;
        padding: $base-padding;
        display: grid;
        grid-template-rows: auto;
        gap: $base-padding;
        
        a {
            display: flex;                   
            color: $light;
            background-color: $btn;
            font-size: convert-pixels-to-rem(19px);
            font-weight: 700;
            justify-content: center;
            align-items: center;
            border-radius: convert-pixels-to-rem(10px);
            min-height: convert-pixels-to-rem(54px);

            &.featured {
                background-color: $accent;
            }
        }
    }

    .hide-element {
        border: 0;
        clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px; 
    } 

    @media(prefers-color-scheme: dark) {
        .links {

            a {
                background-color: $btn-alt;
                color: $light-alt;
            }
        }
    }
</style>